Click==8.0.0
gql
websockets
websocket-client
requests
typing_extensions
psutil
aiodocker
Jinja2
PyYAML
aiostream
markupsafe
requests_toolbelt
imantics
shapely>=2.1.0
tqdm
urllib3
numpy
docker
python-magic
pycocotools
